@if (movie) {
  <div class="relative h-[38rem] bg-black text-white">
    <div class="backdrop absolute top-0 right-0 h-full w-[71%]">
      <div class="w-full h-full">
        <img class="h-full w-full object-cover" src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}"
             alt="">
      </div>
    </div>

    <div class="px-[5rem] absolute top-0 left-0 h-full w-[45%] flex flex-col justify-center">
      <h2 class="text-3xl mb-5">{{ movie.title }}</h2>
      <div class="info">
          <span class="flex items-center"><span
            class="text-white text-[1.3rem]">{{ movie.vote_average }} </span>/10</span>
        <span>{{ movie.vote_count }} Reviews</span>
        <span>{{ movie.release_date | date: 'yyyy' }}</span>
      </div>
      <p class="pb-7">
        {{ movie.overview }}
      </p>
    </div>
  </div>
}

