@if (movie) {
  <div class="text-white h-[25rem] md:h-[38rem]">
    <div class="relative flex h-full flex-col bg-black md:flex-row-reverse">
      <div class="bg-gray-600 flex-1 md:flex-[3] relative with-backdrop" @fade>

        <img class="h-full w-full object-cover" src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}"
             alt="">
      </div>
      <div class="md:flex-[1] bg-black">
        <div class="md:absolute md:max-w-lg md:top-1/2 md:-translate-y-1/2 md:ml-14 m-5">
          <h2 class="text-3xl mb-5">{{ movie.title }}</h2>
          <div class="info">
            <span class="flex items-center"><span
              class="text-white text-[1.3rem]">{{ movie.vote_average }}</span>/10</span>
            <span>{{ movie.vote_count }} Reviews</span>
            <span>{{ movie.release_date | date: 'yyyy' }}</span>
          </div>
          <p class="invisible md:visible">
            {{ movie.overview }}
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="content mt-10">
    <p-tabView>
      <p-tabPanel header="Overview" headerStyleClass="text-xl">
        <div class="flex">
          <div class="w-1/4 hidden md:block md:max-w-[400px] md:pr-2 lg:pr-5">
            <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{ movie?.poster_path }}">
          </div>
          <div class="grow">
            <div class="max-w-[1000px] mb-3">
              <h2 class="mb-[1rem] text-[1.3rem] font-semibold">Storyline</h2>
              <div>{{ movie?.overview }}</div>
            </div>
            <div class="mt-10 ">
              <ul class="flex flex-wrap">

                <li class="w-full md:w-1/2 flex mb-3">
                  <div class="max-w-[110px] flex-1">Released</div>
                  <div class="flex-[2]">{{ movie.release_date | fullDate }}</div>
                </li>

                <li class="w-full md:w-1/2 flex mb-3">
                  <div class="max-w-[110px] flex-1">Runtime</div>
                  <div class="flex-[2]">{{ movie.runtime | time }}</div>
                </li>
                @if (movie?.budget) {
                  <li class="w-full md:w-1/2 flex mb-3">
                    <div class="max-w-[110px] flex-1">Budget</div>
                    <div class="flex-[2]">{{ movie.budget | numberWithCommas }}</div>
                  </li>
                }

                @if (movie?.revenue) {
                  <li class="w-full md:w-1/2 flex mb-3">
                    <div class="max-w-[110px] flex-1">Revenue</div>
                    <div class="flex-[2]">{{ movie.revenue | numberWithCommas }}</div>
                  </li>
                }

                @if (movie?.status) {
                  <li class="w-full md:w-1/2 flex mb-3">
                    <div class="max-w-[110px] flex-1">Status</div>
                    <div class="flex-[2]">{{ movie.status }}</div>
                  </li>
                }
                <li class="w-full md:w-1/2 flex mb-3" *ngIf="movie?.spoken_languages?.length">
                  <div class="max-w-[110px] flex-1">Language</div>
                  <div class="flex-[2]" *ngFor="let language of movie?.spoken_languages">
                    {{ language?.name }}
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="casts">
          <h2 class="mb-[1rem] text-[1.3rem] font-semibold mt-8">Casts</h2>
          <p-carousel [value]="casts" [numVisible]="5" [numScroll]="4" [circular]="false"
                      [responsiveOptions]="responsiveOptions">
            <ng-template let-cast pTemplate="item">

              <div
                class="cursor-pointer bg-[#212121] max-w-sm m-5 border border-white border-opacity-10 text-white rounded my-[11px] mx-[5px]">
                <img *ngIf="cast.profile_path"
                     class="w-full rounded-t-[5px] object-cover"
                     src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{cast?.profile_path}}" alt="poster"/>
                <img *ngIf="!cast.profile_path"
                     class="w-full rounded-t-[5px] object-cover"
                     src="./assets/images/default-movie.png" alt="">
                <h6
                  class="w-[200px] uppercase font-medium p-2 whitespace-nowrap overflow-ellipsis overflow-hidden">{{ cast.name }}</h6>
              </div>
            </ng-template>
          </p-carousel>
        </div>

      </p-tabPanel>
      <p-tabPanel header="Videos" headerStyleClass="text-xl">
        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 min-w-full gap-5">
          @for (list of relatedVideos;track list.id) {
            <div class="cursor-pointer" (click)="openDialogVideo(list)">
              <div class="relative">
                <img src="https://img.youtube.com/vi/{{list?.key}}/mqdefault.jpg" alt="">
                <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                       viewBox="0 0 55 55">
                    <circle cx="27.5" cy="27.5" r="26.75" fill="none" stroke="#fff"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                    <path fill="none" stroke="#fff" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="1.5"
                          d="M20.97 40.81L40.64 27.5 20.97 14.19v26.62z"/>
                  </svg>
                </div>
              </div>
              <div class="overflow-hidden overflow-ellipsis whitespace-nowrap my-2">{{ list?.name }}</div>
              <div class="text-gray-500">{{ list?.type }}</div>

            </div>
          }
        </div>
        <p-dialog [(visible)]="visible"
                  [style]="{width: '900px', height: '600px'}"
                  (onHide)="onDialogHide()">

          @if (this.selectedVideoUrl) {
            <iframe
              [src]="this.selectedVideoUrl"
              width="100%"
              class="border-none"
              height="100%"
              allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
          }

        </p-dialog>
      </p-tabPanel>
      <p-tabPanel header="Photos" headerStyleClass="text-xl">
        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 min-w-full gap-5">
          @for (backdrop of backdrops;track backdrop.file_path) {
            <div class="image">
              <img class="lazyload" src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/{{ backdrop?.file_path }}">
            </div>
          }
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
}

