@if (movie) {
  <div class="relative h-[38rem] bg-black text-white">
    <div class="backdrop absolute top-0 right-0 h-full w-[71%]">
      <div class="w-full h-full">
        <img class="h-full w-full object-cover" src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}"
             alt="">
      </div>
    </div>

    <div class="px-[5rem] absolute top-0 left-0 h-full w-[45%] flex flex-col justify-center">
      <h2 class="text-3xl mb-5">{{ movie.title }}</h2>
      <div class="info">
          <span class="flex items-center"><span
            class="text-white text-[1.3rem]">{{ movie.vote_average }} </span>/10</span>
        <span>{{ movie.vote_count }} Reviews</span>
        <span>{{ movie.release_date | date: 'yyyy' }}</span>
      </div>
      <p class="pb-7">
        {{ movie.overview }}
      </p>
    </div>
  </div>

  <div class="content mt-10">
    <p-tabView>
      <p-tabPanel header="Overview" headerStyleClass="text-xl">
        <div class="flex">
          <div class="w-1/4 hidden md:block md:max-w-[400px] md:pr-2 lg:pr-5">
            <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{ movie?.poster_path }}">
          </div>
          <div class="grow">
            <div class="max-w-[1000px] mb-3">
              <h2 class="mb-[1rem] text-[1.3rem] font-semibold">Storyline</h2>
              <div>{{ movie?.overview }}</div>
            </div>
            <div class="mt-10 ">
              <ul class="flex flex-wrap">

                <li class="w-full md:w-1/2 flex mb-3">
                  <div class="max-w-[110px] flex-1">Released</div>
                  <div class="flex-[2]">{{ movie.release_date | fullDate }}</div>
                </li>

                <li class="w-full md:w-1/2 flex mb-3">
                  <div class="max-w-[110px] flex-1">Runtime</div>
                  <div class="flex-[2]">{{ movie.runtime | time }}</div>
                </li>
                @if (movie?.budget) {
                  <li class="w-full md:w-1/2 flex mb-3">
                    <div class="max-w-[110px] flex-1">Budget</div>
                    <div class="flex-[2]">{{ movie.budget | numberWithCommas }}</div>
                  </li>
                }

                @if (movie?.revenue) {
                  <li class="w-full md:w-1/2 flex mb-3">
                    <div class="max-w-[110px] flex-1">Revenue</div>
                    <div class="flex-[2]">{{ movie.revenue | numberWithCommas }}</div>
                  </li>
                }

                @if (movie?.status) {
                  <li class="w-full md:w-1/2 flex mb-3">
                    <div class="max-w-[110px] flex-1">Status</div>
                    <div class="flex-[2]">{{ movie.status }}</div>
                  </li>
                }

                <li class="w-full md:w-1/2 flex mb-3" *ngIf="movie?.spoken_languages?.length">
                  <div class="max-w-[110px] flex-1">Language</div>
                  <div class="flex-[2]" *ngFor="let language of movie?.spoken_languages">
                    {{ language?.name }}
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="casts">
          <h2 class="mb-[1rem] text-[1.3rem] font-semibold mt-8">Casts</h2>
          <p-carousel [value]="casts" [numVisible]="5" [numScroll]="4" [circular]="false"
                      [responsiveOptions]="responsiveOptions">
            <ng-template let-cast pTemplate="item">

              <div
                class="cursor-pointer bg-[#212121] h-auto m-5 border border-white border-opacity-10 text-white rounded my-[11px] mx-[5px]">

                <img *ngIf="cast.profile_path"
                     class="w-full rounded-t-[5px] object-cover"
                     src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{cast?.profile_path}}" alt="poster"/>
                <img *ngIf="!cast.profile_path"
                     class="w-full rounded-t-[5px] object-cover"
                     src="./assets/images/default-movie.png" alt="">
                <h6
                  class="w-[200px] uppercase font-medium p-2 whitespace-nowrap overflow-ellipsis overflow-hidden">{{ cast.name }}</h6>
              </div>
            </ng-template>
          </p-carousel>
        </div>

      </p-tabPanel>
      <p-tabPanel header="Videos" headerStyleClass="text-xl">
        <p>Videos</p>
      </p-tabPanel>
      <p-tabPanel header="Photos" headerStyleClass="text-xl">
        <p>Photos</p>
      </p-tabPanel>
    </p-tabView>
  </div>
}

