.with-backdrop::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-image: linear-gradient(to right, #000 0, transparent 50%, transparent 100%);
  content: "";

  @media (min-width: 768px) {
    width: 90%;
  }
}


.info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #999;

  span {
    margin-right: 0.4rem;

    &:not(:last-child):after {
      content: "|";
      margin-right: 9px;
      margin-left: 9px;
    }
  }
}
